################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.nupkg
*.user
*.vs
.vs

/Cyaim.WebSocketServer/Cyaim.WebSocketServer/bin
/Cyaim.WebSocketServer/Cyaim.WebSocketServer/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer/Properties

/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Client/bin
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Client/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Client/Properties

/Cyaim.WebSocketServer/Cyaim.WebSocketServer.DebugUI/bin
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.DebugUI/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.DebugUI/Properties

/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/bin
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/Properties

/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example.Wpf/bin
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example.Wpf/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example.Wpf/Properties


/Cyaim.WebSocketServer/TestAOT/bin
/Cyaim.WebSocketServer/TestAOT/obj
/Cyaim.WebSocketServer/TestAOT/Properties

