################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Cyaim.WebSocketServer/.vs/Cyaim.WebSocketServer/v16
/Cyaim.WebSocketServer/Cyaim.WebSocketServer/bin/Debug/netstandard2.1
/Cyaim.WebSocketServer/Cyaim.WebSocketServer/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/obj
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/bin/Release/netcoreapp3.1
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/Properties/PublishProfiles
/Cyaim.WebSocketServer/Cyaim.WebSocketServer.Example/bin/Debug/netcoreapp3.1
/Cyaim.WebSocketServer/.vs/Cyaim.WebSocketServer/config
/Cyaim.WebSocketServer/.vs/Cyaim.WebSocketServer/DesignTimeBuild
